/*------------------------------------*\
    $VENDOR
\*------------------------------------*/

/* Bourbon and Neat */
@import "bourbon";
@import "neat-helpers";
@import "modules/variables/_siteSettings";
@import "neat";

/* Resets */
@import "vendor/_reset";

/*------------------------------------*\
    $MODULES
\*------------------------------------*/

/* Mixins */
@import "modules/mixins/_elements";
@import "modules/mixins/_padding";

/*------------------------------------*\
    $PARTIALS
\*------------------------------------*/

/* Elements */
@import "partials/elements/_button";
@import "partials/elements/_checkbox";
@import "partials/elements/_dropdown";
@import "partials/elements/_svg";
@import "partials/elements/_input";
@import "partials/elements/_text";
@import "partials/elements/_textarea";

/* Components */
@import "partials/components/_alert";
@import "partials/components/_contentCard";
@import "partials/components/_form";
@import "partials/components/_menu";
@import "partials/components/_toast";

/*------------------------------------*\
    $BASE STYLES
\*------------------------------------*/
body {
	font-family: 'Lato', sans-serif;
	letter-spacing: $global-letter-spacing;
	background-color: $background-colour;
}

.siteContainer {
	display: flex;
}

.editorContainer {
	position: relative;
}
