.dropdown {
    $dropdown-distance-from-menu: 50px;
    display: inline-block;
    position: relative;
    cursor: pointer;

    .dropdown-button {
        @include inputs;
    }

    .dropdown-menu {
        position: absolute;
        top: $input-line-height + ( $content-padding * 2 );
        left: 0;
        right: 0;
        z-index: 99999;
        text-align: center;
        border: $global-border;
        border-top: none;
        border-bottom-left-radius: $global-border-radius;
        border-bottom-right-radius: $global-border-radius;
        .dropdownItem:nth-child(even) {
            background-color: $colour2;
        }
        .dropdownItem.dropdownItem--active {
            background-color: $colour1;
        }
        .dropdownItem {
            line-height: $input-line-height;
            font-size: $input-font-size;
            padding: $content-padding;
            &:hover {
                background-color: $colour4;
            }
        }
    }

    &.dropdown--open {
        .dropdown-button {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }
}
