.dropdown {
    $dropdown-distance-from-menu: 50px;
    display: inline-block;
    position: relative;
    cursor: pointer;

    .dropdown-button {
        @include inputs;
        display: flex;
        justify-content: space-between;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: $input-line-height + ( $element-padding * 2 );
        left: 0;
        right: 0;
        z-index: 99999;
        @include global-border;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: white;
        .dropdownItem:nth-child(even) {
            background-color: $colour7;
        }
        .dropdownItem.dropdownItem--active {
            // background-color: $colour1;
        }
        .dropdownItem {
            line-height: $input-line-height;
            font-size: $input-font-size;
            padding: $element-padding;
            &:hover {
                background-color: $colour6;
            }
        }
    }

    &.dropdown--open {
        .dropdown-menu {
            display: block;
        }
        .dropdown-button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        svg {
            transform: rotate( 180deg );
        }
    }
}
