/*------------------------------------*\
    $GRID SETTINGS FOR BOURBON-NEAT
\*------------------------------------*/
$max-width: em( 1054 );
$gutter: 0em;

/* Breakpoints */
$desktop: new-breakpoint( min-width 640px );





$sideMenuWidth: 200px;




/* Padding */
$content-padding-mobile: 20px;
$content-padding-desktop: 30px;
