/*------------------------------------*\
    $GRID SETTINGS FOR BOURBON-NEAT
\*------------------------------------*/
$max-width: em( 1054 );
$gutter: 0em;

/* Breakpoints */
$desktop: new-breakpoint( min-width 640px );





$white: #FFFFFF;
$black: #000000;
$colour1: hsl(235, 36%, 36%);
$colour2: hsl(195, 53%, 79%);
$colour3: #7C898B;
$colour4: #93A3B1;

$red: red;








$menuHeight: 70px;




/* Padding */
$content-padding-mobile: 20px;
$content-padding-desktop: 30px;




$global-border-radius: 3px;
$global-border-width: 1px;
$global-border: solid $colour3 1px;

$global-letter-spacing: 1.5px;




$content-padding: 10px;
$input-line-height: 18px;
$input-font-size: 15px;



$global-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.75);
