.contentCard {
    background-color: white;
}

.contentCard-header {
    @include global-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colour6;
}

.contentCard-body {
    @include global-padding;
}


.contentCard-showbody .contentCard-bodyToggle {
    transform: rotate( 180deg );
}

.contentCard-header-buttons .btn {
    margin-right: $global-padding-mobile;
    @include media( $desktop ) {
        margin-right: $global-padding-desktop;
    }
    &:last-child {
        margin-right: 0;
    }
}
