.contentCard {
    margin-bottom: $element-padding-mobile;
    @include media( $desktop ) {
        margin-bottom: $element-padding-desktop;
    }
    &:last-child {
        margin-bottom: 0px;
    }
    background-color: white;
}

.contentCard-header {
    @include global-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colour6;
}

.contentCard-body {
    @include global-padding;
}
