.formItem {
    width: 100%;
    margin-bottom: $global-padding-mobile;
    @include media( $desktop ) {
        margin-bottom: $global-padding-desktop;
    }
    &:last-child {
        margin-bottom: 0px;
    }
}

.formItem.formItem--error {
    border-color: $colour2;
    .dropdown-button, .dropdown-menu {
        border-color: $colour2;
    }
}
