.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $menuHeight;
    background-color: $colour1;
    display: flex;
    justify-content: center;

}

.menu svg {
    height: $menuHeight;
    width: $menuHeight;
    &:hover {
        cursor: pointer;
    }
    &.active {
        background-color: $background-colour;
    }
    padding: $element-padding;
}

.saveThemeBtn {
    margin-left: auto;
    fill: $colour8;
}

.theme--unsaved .saveThemeBtn {
    fill: $colour2;
}
