.modal {
    @include position(fixed, 0 0 0 0);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-inner {
        background-color: $white;
        min-width: 300px;
        box-shadow: $global-box-shadow;
    }

    .modal-header {
        @include global-padding;
        display: flex;
        justify-content: space-between;
        background-color: $colour1;
    }

    .modal-content {
        @include global-padding;
    }

    .modal-footer {
        button {
            @include global-padding;
            width: 50%;
            &:nth-child(even) {
                background-color: $colour6;
            }
            &:nth-child(odd) {
                background-color: $colour7;
            }
        }
    }
}
