.sideMenu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $sideMenuWidth;
    background-color: $colour2;

}

.sideMenu-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $sideMenuWidth;
    border-bottom: solid $colour4 1px;
    &:hover {
        cursor: pointer;
    }
    &.active {
        background-color: $colour4;
    }
}

.saveThemeBtn {
    width: $sideMenuWidth;
    height: $sideMenuWidth;
    font-size: 20px;
    background-color: $colour1;
    color: $white;
    text-transform: uppercase;
}

.theme--unsaved .saveThemeBtn {
    background-color: red;
}
