@mixin global-border {
    border-radius: $global-border-radius;
    border: $global-border;
}


@mixin inputs {
    padding: $element-padding;
    background-color: $colour7;
    &:focus {
        outline: none;
    }
    @include global-border;
    font-size: $input-font-size;
    line-height: $input-line-height;
	letter-spacing: $global-letter-spacing;
    min-width: 200px;
}
