@mixin inputs {
    padding: $content-padding;
    &:focus {
        outline: none;
    }
    border-radius: $global-border-radius;
    border: $global-border;
    font-size: $input-font-size;
    line-height: $input-line-height;
	letter-spacing: $global-letter-spacing;
    min-width: 200px;
}
